page-home {

	.scan  button{
		width: 150px;
		height: 150px;
	}
	.scan ion-icon{
		font-size: 70px;
	}
	.scan{
		margin-top: 40%;	
	}
	.md{
		margin-left: 25%;
	}
	.color{
		background-color: #00b4c2;
	}
	.msg{
		margin-top: 100%;
	}
	.msg *{
		text-align: center;		
	}


}
